## Day5
### Pandas Conti...
- Load Data Set
- Summarising data
- Statistical Analysis on data
- Filtering and Combining

In [1]:
import pandas as pd

In [2]:
print(dir(pd))

['Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseDtype', 'SparseSeries', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_np_version_under1p16', '_np_version_under1p17', '_tslib', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [3]:
# load data set
data = pd.read_csv('market_fact.csv')

### summarising data

In [4]:
data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [5]:
data.head()# top 5 row

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [6]:
data.head(8)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [7]:
data.tail()# last 5 rows

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [10]:
data.sample()# random row

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
5592,Ord_1290,Prod_9,SHP_1780,Cust_482,2609.53,0.0,27,911.66,19.99,0.4

In [11]:
data.sample(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
6296,Ord_3099,Prod_4,SHP_4298,Cust_1140,1541.458,0.05,34,-238.16,5.00,0.83
7542,Ord_3170,Prod_2,SHP_4398,Cust_1162,1503.490,0.03,21,408.73,3.50,0.59
2297,Ord_3142,Prod_3,SHP_4361,Cust_1169,479.960,0.08,44,122.54,2.99,0.38

In [12]:
data.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [13]:
data.index

RangeIndex(start=0, stop=8399, step=1)

In [16]:
data.keys()

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [17]:
data.shape

(8399, 10)

### statistical analysis on data

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [26]:
data.size

83990

In [24]:
data.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

## Identifying missing values
- isnull()
- notnull(): opposite to isnull()

In [29]:
data.isnull()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8369,False,False,False,False,False,False,False,False,False,False
8370,False,False,False,False,False,False,False,False,False,False
8371,False,False,False,False,False,False,False,False,False,False
8372,False,False,False,False,False,False,False,False,False,False
8373,False,False,False,False,False,False,False,False,False,False
8374,False,False,False,False,False,False,False,False,False,False
8375,False,False,False,False,False,False,False,False,False,False
8376,False,False,False,False,False,False,False,False,False,False
8377,False,False,False,False,False,False,False,False,False,False
8378,False,False,False,False,False,False,False,False,False,False
8379,False,False,False,False,False,False,False,False,False,False
8380,False,False,False,False,False,False,False,False,False,False
8381,False,False,False,False,False,False,False,False,False,False
8382,False,False,False,False,False,False,False,False,False,False
8383,False,False,False,False,False,False,False,False,False,False
8384,False,False,False,False,False,False,False,False,False,False
8385,False,False,False,False,False,False,False,False,False,False
8386,False,False,False,False,False,False,False,False,False,False
8387,False,False,False,False,False,False,False,False,False,False
8388,False,False,False,False,False,False,False,False,False,True
8389,False,False,False,False,False,False,False,False,False,False
8390,False,False,False,False,False,False,False,False,False,False
8391,False,False,False,False,False,False,False,False,False,False
8392,False,False,False,False,False,False,False,False,False,False
8393,False,False,False,False,False,False,False,False,False,False
8394,False,False,False,False,False,False,False,False,False,False
8395,False,False,False,False,False,False,False,False,False,False
8396,False,False,False,False,False,False,False,False,False,False
8397,False,False,False,False,False,False,False,False,False,False
8398,False,False,False,False,False,False,False,False,False,False

In [30]:
# Identifying missing in columns
data.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [31]:
data.isnull().sum().sum()

63

### Indexing
- selecting row: data[start:stop]
- selecting columns: data[col_name] or data.col_name
- selecting multiple columns: data[['col_name1','col_name2']

In [32]:
data.head(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59

In [33]:
data['Discount'].head()

0    0.01
1    0.01
2    0.00
3    0.09
4    0.08
Name: Discount, dtype: float64

In [34]:
data[['Discount','Cust_id']].head()

   Discount    Cust_id
0      0.01  Cust_1818
1      0.01  Cust_1818
2      0.00  Cust_1818
3      0.09  Cust_1818
4      0.08  Cust_1818

In [35]:
data[['Discount','Cust_id']][1:5]

   Discount    Cust_id
1      0.01  Cust_1818
2      0.00  Cust_1818
3      0.09  Cust_1818
4      0.08  Cust_1818

In [37]:
data.Discount.head()

0    0.01
1    0.01
2    0.00
3    0.09
4    0.08
Name: Discount, dtype: float64

### Filtering

In [38]:
data.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [39]:
data['Sales'] > 45000

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Sales, Length: 8399, dtype: bool

In [40]:
data[data['Sales'] > 45000]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39

In [45]:
(data['Sales'] > 35000) & (data['Sales'] < 45000)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Sales, Length: 8399, dtype: bool

In [46]:
data[(data['Sales'] > 35000) & (data['Sales'] < 45000)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39

### Combining

In [47]:
dict1 = {'Name':['lavanya','niharika','nagamounika'],
        'Branch':['Cse','Civil','mech']}
d1 = pd.DataFrame(dict1)
d1

          Name Branch
0      lavanya    Cse
1     niharika  Civil
2  nagamounika   mech

In [48]:
dict2 = {'Name':['alekhya','girrisha','naga'],
        'Branch':['ece','it','eee']}
d2 = pd.DataFrame(dict2)
d2

       Name Branch
0   alekhya    ece
1  girrisha     it
2      naga    eee

In [49]:
pd.concat([d1,d2])

          Name Branch
0      lavanya    Cse
1     niharika  Civil
2  nagamounika   mech
0      alekhya    ece
1     girrisha     it
2         naga    eee

- axis = 0 --> rows
- axis = 1 --> columns

In [50]:
pd.concat([d1,d2],axis = 1)

          Name Branch      Name Branch
0      lavanya    Cse   alekhya    ece
1     niharika  Civil  girrisha     it
2  nagamounika   mech      naga    eee

### sorting
- ascening order
- descending order

In [51]:
data.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [52]:
data.sort_values(by = ['Discount'], inplace = True)# by default ascening order

In [53]:
data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38
822,Ord_4748,Prod_6,SHP_6621,Cust_1580,66.8300,0.00,13,23.16,0.80,0.36
4367,Ord_501,Prod_6,SHP_676,Cust_188,42.5800,0.00,4,-7.61,4.39,0.38
4354,Ord_813,Prod_2,SHP_1117,Cust_257,497.2000,0.00,7,-219.61,49.00,0.59
4339,Ord_3769,Prod_13,SHP_5232,Cust_1320,108.3300,0.00,37,17.00,0.70,0.56
4337,Ord_3866,Prod_8,SHP_5357,Cust_1348,1230.8300,0.00,38,75.50,6.50,0.64
4314,Ord_562,Prod_8,SHP_763,Cust_185,346.5700,0.00,31,-116.45,6.50,0.64
837,Ord_4764,Prod_6,SHP_6643,Cust_1622,32.6900,0.00,5,-24.43,7.54,0.38
839,Ord_1891,Prod_13,SHP_2597,Cust_682,157.8700,0.00,46,-115.80,3.97,0.56
4294,Ord_325,Prod_5,SHP_433,Cust_118,208.6000,0.00,26,-56.45,5.21,0.56
4260,Ord_4409,Prod_6,SHP_6145,Cust_1513,1676.4800,0.00,28,590.35,14.30,0.37
4253,Ord_4684,Prod_8,SHP_6535,Cust_1610,1235.2900,0.00,39,53.63,6.50,0.64
4250,Ord_1980,Prod_9,SHP_6735,Cust_1660,262.1300,0.00,43,-60.91,5.30,0.35
4376,Ord_533,Prod_13,SHP_722,Cust_188,226.6500,0.00,37,46.41,0.96,0.60
4237,Ord_401,Prod_11,SHP_540,Cust_147,1280.3400,0.00,36,-1048.25,45.51,0.65
4232,Ord_368,Prod_3,SHP_493,Cust_147,216.3300,0.00,8,-17.37,12.98,0.39
4221,Ord_593,Prod_17,SHP_810,Cust_205,1120.2700,0.00,7,16.81,13.99,0.38
4212,Ord_274,Prod_5,SHP_373,Cust_44,294.0000,0.00,5,181.53,14.83,0.54
4198,Ord_1119,Prod_3,SHP_1545,Cust_417,58.9800,0.00,9,-17.79,4.97,0.35
4190,Ord_3509,Prod_4,SHP_4860,Cust_1211,4008.7275,0.00,38,1219.34,5.92,0.58
4187,Ord_3247,Prod_9,SHP_4500,Cust_1211,151.4900,0.00,12,-3.95,6.97,0.35
4186,Ord_3247,Prod_2,SHP_4501,Cust_1211,308.2200,0.00,37,-215.57,9.23,0.58
860,Ord_289,Prod_3,SHP_390,Cust_67,51.2100,0.00,2,-27.53,8.83,0.37
4176,Ord_1970,Prod_8,SHP_2694,Cust_736,184.7400,0.00,29,-102.25,4.38,0.75
4172,Ord_1502,Prod_9,SHP_2076,Cust_556,179.3300,0.00,19,-58.76,8.29,0.38
864,Ord_248,Prod_3,SHP_343,Cust_67,18.9200,0.00,1,-18.25,7.19,0.40
4165,Ord_1244,Prod_5,SHP_1720,Cust_467,1965.2100,0.00,24,830.75,19.99,0.43
4236,Ord_401,Prod_13,SHP_539,Cust_147,61.7600,0.00,21,4.34,0.93,0.54
4387,Ord_2493,Prod_5,SHP_3418,Cust_962,146.6900,0.00,28,-64.05,5.32,0.41
4388,Ord_2538,Prod_8,SHP_3475,Cust_962,2006.3800,0.00,48,840.46,1.99,0.44
...,...,...,...,...,...,...,...,...,...,...
7572,Ord_3505,Prod_8,SHP_4855,Cust_1214,1258.9700,0.10,41,-112.58,5.50,0.75
140,Ord_1673,Prod_5,SHP_2313,Cust_498,23.9300,0.10,3,-6.39,0.96,0.43
7575,Ord_5369,Prod_4,SHP_7499,Cust_1808,822.3495,0.10,8,-360.31,8.80,0.59
759,Ord_131,Prod_1,SHP_178,Cust_78,817.1800,0.10,16,103.38,5.08,0.59
4616,Ord_2860,Prod_13,SHP_3936,Cust_1046,123.9300,0.10,31,11.93,0.94,0.56
764,Ord_2054,Prod_4,SHP_2808,Cust_754,6618.4570,0.10,40,1489.96,5.99,0.59
4605,Ord_650,Prod_8,SHP_888,Cust_213,2232.6600,0.10,16,-521.09,4.00,0.79
772,Ord_5154,Prod_15,SHP_7203,Cust_1746,1124.3000,0.10,47,-335.22,14.36,0.60
4579,Ord_3824,Prod_3,SHP_5302,Cust_1339,116.8400,0.10,22,-125.44,7.78,0.37
4574,Ord_3974,Prod_3,SHP_5523,Cust_1361,1786.0400,0.10,1,-924.99,19.99,0.36
4571,Ord_3970,Prod_2,SHP_5518,Cust_1361,5296.1900,0.10,15,1164.05,19.99,0.57
4556,Ord_3179,Prod_13,SHP_4412,Cust_1155,113.2000,0.10,19,24.83,0.91,0.51
130,Ord_2480,Prod_4,SHP_3397,Cust_933,1247.9275,0.10,24,186.42,2.50,0.55
4555,Ord_3158,Prod_3,SHP_4382,Cust_1155,375.6100,0.10,38,-21.26,5.75,0.39
4537,Ord_3008,Prod_13,SHP_4167,Cust_1658,61.9400,0.10,39,-17.78,1.29,0.42
4521,Ord_2962,Prod_11,SHP_4083,Cust_1070,1835.4700,0.10,13,-364.87,16.01,0.70
4506,Ord_1063,Prod_6,SHP_1469,Cust_406,54.3000,0.10,6,1.27,2.03,0.37
4503,Ord_2384,Prod_6,SHP_3272,Cust_956,347.9300,0.10,32,34.29,5.01,0.36
133,Ord_2432,Prod_3,SHP_3338,Cust_933,15337.5800,0.10,30,6670.41,19.99,0.37
4500,Ord_2665,Prod_8,SHP_3651,Cust_1020,107.6700,0.10,2,-234.66,6.50,0.73
806,Ord_4279,Prod_8,SHP_5970,Cust_1440,1516.8200,0.10,39,-83.28,6.50,0.74
4453,Ord_2977,Prod_8,SHP_4109,Cust_1085,1683.5700,0.10,22,346.54,7.18,0.48
4446,Ord_1879,Prod_2,SHP_2580,Cust_666,12569.3100,0.10,47,3160.63,23.19,0.59
810,Ord_4269,Prod_2,SHP_5958,Cust_1440,2405.0000,0.10,39,696.17,0.99,0.58
4544,Ord_4511,Prod_13,SHP_6280,Cust_1469,123.4000,0.10,22,30.50,0.83,0.49
5329,Ord_876,Prod_5,SHP_1204,Cust_299,586.1100,0.11,43,98.44,4.98,0.48
5326,Ord_960,Prod_5,SHP_1329,Cust_349,651.9000,0.16,49,-74.51,6.85,0.54
5334,Ord_916,Prod_5,SHP_1262,Cust_328,27.9600,0.17,1,-9.13,13.56,0.58
7705,Ord_162,Prod_5,SHP_219,Cust_42,338.5200,0.21,22,-17.75,8.99,0.39
7713,Ord_13,Prod_11,SHP_17,Cust_12,663.7840,0.25,11,-481.04,69.00,0.68

In [54]:
data.sort_values(by = ['Discount'], inplace = False,ascending = False)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
7713,Ord_13,Prod_11,SHP_17,Cust_12,663.7840,0.25,11,-481.04,69.00,0.68
7705,Ord_162,Prod_5,SHP_219,Cust_42,338.5200,0.21,22,-17.75,8.99,0.39
5334,Ord_916,Prod_5,SHP_1262,Cust_328,27.9600,0.17,1,-9.13,13.56,0.58
5326,Ord_960,Prod_5,SHP_1329,Cust_349,651.9000,0.16,49,-74.51,6.85,0.54
5329,Ord_876,Prod_5,SHP_1204,Cust_299,586.1100,0.11,43,98.44,4.98,0.48
2395,Ord_4439,Prod_4,SHP_6185,Cust_1478,4442.0490,0.10,27,720.95,8.08,0.59
8244,Ord_3485,Prod_4,SHP_4826,Cust_1203,95.0555,0.10,2,-298.17,5.00,0.83
8323,Ord_2780,Prod_1,SHP_3819,Cust_1016,2014.1300,0.10,24,-794.94,35.00,0.83
1684,Ord_873,Prod_11,SHP_1201,Cust_283,3732.2500,0.10,46,-1255.86,60.00,0.56
3030,Ord_4876,Prod_3,SHP_6803,Cust_1673,349.6500,0.10,24,28.55,6.46,0.38
8325,Ord_2180,Prod_15,SHP_2972,Cust_810,1505.6700,0.10,22,-436.23,30.00,0.73
2879,Ord_1529,Prod_3,SHP_2114,Cust_562,564.9800,0.10,26,-107.51,15.10,0.38
1680,Ord_5073,Prod_13,SHP_7084,Cust_1720,10.3900,0.10,6,-3.24,0.70,0.56
2881,Ord_143,Prod_6,SHP_192,Cust_93,270.6300,0.10,13,7.07,8.32,0.39
8328,Ord_2169,Prod_6,SHP_2956,Cust_810,1321.5500,0.10,25,448.24,10.75,0.36
2817,Ord_5432,Prod_11,SHP_7591,Cust_1813,6552.9000,0.10,23,-461.45,54.12,0.76
2885,Ord_146,Prod_17,SHP_196,Cust_60,3051.2700,0.10,41,121.48,33.60,0.37
2827,Ord_5449,Prod_6,SHP_7614,Cust_1813,55.6800,0.10,7,-7.40,5.15,0.36
1933,Ord_4715,Prod_15,SHP_6579,Cust_1625,3427.3100,0.10,11,124.36,58.95,0.57
1307,Ord_5079,Prod_13,SHP_7092,Cust_1719,143.8500,0.10,31,34.14,0.71,0.52
8038,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.1900,0.10,33,988.20,24.49,0.46
2429,Ord_2428,Prod_3,SHP_3333,Cust_968,251.3400,0.10,36,-162.20,7.72,0.38
2795,Ord_349,Prod_3,SHP_464,Cust_139,7441.2900,0.10,46,2665.40,19.99,0.40
1711,Ord_4280,Prod_3,SHP_5972,Cust_1438,423.2400,0.10,21,128.83,2.99,0.37
1352,Ord_484,Prod_6,SHP_651,Cust_167,258.1900,0.10,42,-103.27,5.90,0.37
2796,Ord_458,Prod_9,SHP_614,Cust_139,672.4600,0.10,47,279.74,1.39,0.40
2863,Ord_3080,Prod_11,SHP_4275,Cust_1149,2409.4240,0.10,12,50.95,66.67,0.61
2837,Ord_1449,Prod_3,SHP_2002,Cust_511,1136.4700,0.10,10,323.32,9.07,0.35
1928,Ord_4412,Prod_8,SHP_6149,Cust_1515,268.5500,0.10,36,-99.02,2.83,0.77
1702,Ord_1952,Prod_3,SHP_4158,Cust_1122,19.3400,0.10,2,-14.38,6.05,0.39
...,...,...,...,...,...,...,...,...,...,...
2871,Ord_1593,Prod_4,SHP_2203,Cust_505,4834.8000,0.00,32,1193.11,4.99,0.59
2888,Ord_26,Prod_3,SHP_34,Cust_21,191.6700,0.00,47,-236.27,7.01,0.37
1110,Ord_2277,Prod_11,SHP_3109,Cust_894,2567.6400,0.00,15,-505.98,69.00,0.79
2914,Ord_4910,Prod_4,SHP_6848,Cust_1683,3821.4045,0.00,38,1256.97,2.50,0.55
2948,Ord_461,Prod_17,SHP_619,Cust_163,5155.3500,0.00,11,501.51,14.70,0.56
2959,Ord_376,Prod_4,SHP_504,Cust_150,1856.9695,0.00,17,176.87,8.08,0.57
6605,Ord_733,Prod_3,SHP_998,Cust_237,68.8800,0.00,24,1.31,1.49,0.39
6604,Ord_761,Prod_8,SHP_1038,Cust_237,9544.1800,0.00,36,3392.88,11.25,0.51
348,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.4000,0.00,39,2.02,7.42,0.56
6594,Ord_2083,Prod_5,SHP_2847,Cust_793,3991.9900,0.00,42,-1014.11,56.20,0.74
6723,Ord_3431,Prod_3,SHP_4756,Cust_1241,194.3500,0.00,27,30.88,2.99,0.35
6725,Ord_3459,Prod_3,SHP_4794,Cust_1241,145.7600,0.00,26,5.67,2.99,0.37
6726,Ord_3444,Prod_8,SHP_4774,Cust_1241,1208.3500,0.00,28,145.54,10.25,0.55
7559,Ord_2661,Prod_5,SHP_3645,Cust_1015,163.7500,0.00,19,23.61,4.95,0.41
6634,Ord_3565,Prod_8,SHP_4935,Cust_1265,706.5300,0.00,16,-314.42,19.99,0.77
6628,Ord_3549,Prod_1,SHP_4915,Cust_1273,195.1200,0.00,14,-6.32,4.51,0.59
7792,Ord_1314,Prod_4,SHP_1810,Cust_495,1297.3040,0.00,15,149.82,4.90,0.56
7653,Ord_3576,Prod_6,SHP_4950,Cust_1262,161.9600,0.00,26,-51.12,5.67,0.36
7771,Ord_3264,Prod_4,SHP_4528,Cust_1183,1831.5290,0.00,25,-139.98,0.99,0.85
356,Ord_302,Prod_13,SHP_406,Cust_114,667.5500,0.00,28,204.74,2.87,0.55
118,Ord_5351,Prod_4,SHP_7474,Cust_1800,1463.0965,0.00,14,162.67,2.50,0.57
6562,Ord_5111,Prod_8,SHP_7138,Cust_1708,609.9700,0.00,15,62.93,1.99,0.54
7747,Ord_4999,Prod_17,SHP_6977,Cust_1698,9920.8500,0.00,36,2685.19,17.86,0.58
7722,Ord_1646,Prod_13,SHP_2273,Cust_490,55.3300,0.00,10,13.38,0.71,0.52
7703,Ord_147,Prod_15,SHP_198,Cust_42,3758.7700,0.00,26,753.61,24.49,0.57
7663,Ord_3524,Prod_8,SHP_4878,Cust_1181,368.1700,0.00,41,-15.12,2.38,0.74
6585,Ord_3372,Prod_6,SHP_4674,Cust_1236,86.6900,0.00,12,-43.48,7.37,0.37
6621,Ord_321,Prod_6,SHP_428,Cust_52,735.5400,0.00,13,171.82,14.30,0.37
7649,Ord_3735,Prod_7,SHP_5182,Cust_1299,43.5400,0.00,34,-17.48,0.70,0.81
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [55]:
data.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.0,47,131.39,4.86,0.38
822,Ord_4748,Prod_6,SHP_6621,Cust_1580,66.83,0.0,13,23.16,0.80,0.36
4367,Ord_501,Prod_6,SHP_676,Cust_188,42.58,0.0,4,-7.61,4.39,0.38
4354,Ord_813,Prod_2,SHP_1117,Cust_257,497.20,0.0,7,-219.61,49.00,0.59
4339,Ord_3769,Prod_13,SHP_5232,Cust_1320,108.33,0.0,37,17.00,0.70,0.56